<div class="content-box">
  <h2 class="clean-heading">The Rules&trade;</h2>

  <ul class="rules-list">
    <li style="background: #ECC561;">No copyrighted material allowed.</li>
    <li style="background: #68d09f;">Add more rules in static/rules.html.erb</li>
  </ul>

  <div class="disclaimer">By using this site, you agree to all of the above rules.</div>
</div>
