<div class="content-box">
  <h2 class="clean-heading">The Rules&trade;</h2>

  <ul class="rules-list">
    <li style="background: #68d09f;">All moderator decisions are final.</li>
    <li style="background: #5593c9;">No sharing of accounts.</li>
    <li style="background: #f27227;">Access to this site can be revoked at any time.</li>
    <li style="background: #ff5a5f;">XXX content is not allowed to be downloaded through this service.</li>
    <li style="background: #6bd5db;">If someone you invite is banned, so are you. Forever.</li>
    <li style="background: #a7bfc1;">Never share your generated links. They are unique to your account and for your use only.</li>
    <li style="background: #e9c066;">Don't download excessively large torrents.</li>
  </ul>

  <div class="disclaimer">By using this site, you agree to all of the above rules.</div>
</div>
