.user-profile{
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;

  img{
    border-radius: 80px;
    height: 80px;
    width: 80px;
  }

  h2{
    color: #000;
  }
}

.user-torrents{
  padding: 15px;
}
